<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.bootcss.com/toastr.js/latest/js/toastr.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/toastr.js/latest/css/toastr.min.css">
    <title>注册</title>
</head>
<body>
    <label for="nickname">用户名：</label><input type="text" id="nickname"><br>
    <label for="username">账号：</label><input type="text" id="username"><br>
    <label for="password">密码：</label><input type="password" name="password" id="password"><br>
    <input type="button" value="注册" onclick="register()"><br>
    <a href="/login">登录</a>
    <script>
        function register(){
            var formdata={
                "username":$("#username").val(),
                "password":$("#password").val(),
                "nickname":$("#nickname").val()
            }
            $.ajax({
                url:"/register",
                data:JSON.stringify(formdata),
                type:"POST",
                dataType:"json",
                contentType:"application/json",
                success:function(result){
                    if (result.result=="OK"){
                        toastr["success"]("注册成功")
                    }else if(result.result=="NO"){
                        toastr["error"](result.msg)
                    }
                },
                error:function(){
                    toastr["error"]("网络连接失败");
                }
            })
        }
    </script>
</body>
</html>